/* Gloabal Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style Sheet */
:root {
  --black: #495057;
  --gray: #e9ecefc9;
  --gray-deep: #adb5bd;
  --blue: #cfe9fc;
  --white: #fff;

  --primary: #165349;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--black);
}

button {
  outline: none;
  border: none;
  text-align: left;
}

input,
textarea {
  outline: none;
  border: none;
  font-family: inherit;
  resize: none;
}

img {
  object-fit: cover;
}

a {
  color: var(--gray-deep);
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}

/* GRID */
.grid-col-2 {
  display: flex;
  align-items: stretch;
}
.mobile-nav {
  display: none;
}

.sidebar {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 1px solid var(--gray);
  flex-basis: 10%;
  position: relative;
  z-index: 5;
}
.logo img {
  width: 25rem;
}
.main-menu-items {
  margin-bottom: 2rem;
}
.main-menu-items > a {
  color: var(--black);
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  padding: 1rem 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.5rem;
  background-color: transparent;
  transition: all 0.2s linear;
}

.main-menu-items > button:hover {
  background-color: #eee;
}
.main-menu-items button .menu-icon {
  width: 1.4rem;
  height: 1.4rem;
}

/* TAGS */
.manu-items-tags {
  padding: 0 1.5rem;
}
.manu-items-tags .header {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray-deep);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.tag-info {
  display: flex;
  align-items: center;
}
.tag-info input {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.tag-info label {
  color: var(--black);
  font-family: inherit;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.tag-count span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTENT */
.main-content {
  width: 100%;
}
.main-content-top {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(20px);
  z-index: 4;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--gray);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-left: 29rem;
  flex-basis: 25%;
}
.search input {
  padding: 1rem 1rem 1rem 1rem;
  font-family: inherit;
  color: var(--black);
  width: 100%;
  background-color: transparent;
}

.bookmark-btn {
  margin-left: auto;
}

.bookmark-btn button {
  padding: 1.4rem 2rem;
  border-radius: 8px;
  background-color: var(--primary);
  font-family: inherit;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.4s linear;
}

.bookmark-btn button:hover {
  transform: scale(1.01);
}

.main-content-down,
.main-content-down-archieve {
  padding: 3rem;
  padding-top: 12rem;
  background-color: var(--blue);
  min-height: 100vh;
}
.main-content-down-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.main-content-down-header .dropdown {
  border: 1px solid var(--gray-deep);
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: var(--white);
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.main-content-down-header h3 {
  font-size: 2.4rem;
}
.dropdown-list {
  position: absolute;
  list-style: none;
  left: 0;
  right: 0;
  top: 4.5rem;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  transition: all 0.3s linear;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.075);
  border-radius: 6px;
  height: 0;
}
.dropdown-list.show {
  overflow: visible;
  display: block;
  height: max-content;
  padding: 1rem;
}
.dropdown-list li {
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: all 0.2s linear;
  text-align: center;
}
.dropdown-list li:hover {
  background-color: var(--gray);
}
.dropdown-top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-content-down-header .dropdown img {
  object-fit: cover;
}

/* CARDS */
.main-content-cards,
.main-content-cards-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: flex-start;
}
.card {
  border: 1px solid var(--gray);
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  margin: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-deep);
  gap: 0.8rem;
  margin-bottom: 2rem;
}
.card-header img {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
}

.card-header-img {
  height: 4.2rem;
  width: 4.2rem;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.card-header-text {
  display: flex;
  flex-direction: column;
}
.card-header-text h2 {
  font-size: 1.8rem;
  color: var(--black);
  letter-spacing: -1px;
  font-weight: 500;
}
.card-header-text a {
  margin-top: -0.5rem;
  font-size: 1rem;
}

.card-header-icon {
  height: 3.2rem;
  width: 3.2rem;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.card-action {
  margin-left: auto;
}

.card-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card-body p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: #666;
}

.tags-els {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.tags-els span {
  background-color: var(--gray);
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.tags-els span:hover {
  background-color: #7b7b7b;
  color: var(--white);
}

.header-icon-menu-listen {
  list-style: none;
  position: absolute;
  background-color: var(--white);
  top: 3.2rem;
  left: -9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
  height: 0;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s linear;
  border-radius: 6px;
}

.header-icon-menu-listen.show-action {
  display: block;
  height: max-content;
}

.header-icon-menu-listen li {
  text-align: center;
  padding: 1.2rem 3rem;
  transition: all 0.3s linear;
  width: 16rem;
}

.header-icon-menu-listen li:hover {
  background-color: var(--gray);
}
.delete-action {
  color: #fa5252;
}

.delete-action:hover {
  background-color: #ffe3e3 !important;
}

.card-footer {
  border-top: 1px solid var(--gray-deep);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.2rem;
}
.footer-info div {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.pin {
  cursor: pointer;
}
.pin:hover {
  color: #4f54b2;
}

.no-bookmarks {
  font-size: 1.7rem;
  color: var(--gray-deep);
}

.card-footer .pin .pinned .pin-bookmark {
  color: #4263eb;
}

/* MODALS */
.form-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);

  height: 0;
  transition: all 0.3s linear;
}

.form-modal-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray);
}

.form-modal.show-modal {
  height: 100vh;
  position: fixed;
}

.form-modal form {
  width: 35%;
  background-color: var(--white);
  padding: 2rem;
  border: 1px solid var(--gray);
  z-index: 1;
}

.form-modal form p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.form-modal form > button {
  background-color: var(--primary);
  color: var(--white);
  padding: 1.2rem 4rem;
  border-radius: 8px;
  cursor: pointer;
}

.input-group {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-group input,
.input-group textarea {
  padding: 2rem;
  border-bottom: 1px solid var(--gray-deep);
  width: 65%;
  transition: all 0.4s linear;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #4263eb;
}

.close-modal-btn {
  position: fixed;
  top: 5rem;
  right: 5rem;
  color: var(--black);
  font-size: 2rem;
  z-index: 30;
  cursor: pointer;
}
#tag-input button {
  padding: 0.8rem 1.2rem;
  margin: 0.3rem;
  font-size: 0.9;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s linear;
}

#tag-input button:hover {
  background-color: #999;
  color: var(--white);
}
#tag-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#tag-input button .selected-tags {
  background-color: #333;
  color: var(--white);
}

/* VARIOUS SCREENS */
#home-screen.clicked,
#archieve-screen.clicked {
  background-color: var(--blue);
}
.main-content-down {
  display: none;
}
.main-content-down.active {
  display: block;
}

/* MEDIA QUERIES */

@media (max-width: 70em) {
  .main-content-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .form-modal form {
    width: 40%;
  }
  #tag-input button {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  #tag-input {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 50rem) {
  .grid-col-2 {
    align-items: center;
  }
  .sidebar {
    position: absolute;
    left: -100%;
    overflow-y: scroll;
    width: 0;
    top: 0;
    z-index: 3;
    padding-top: 10rem;
    width: 100%;
    transition: all 0.5s linear;
  }

  .search {
    flex-basis: 50%;
  }

  .sidebar.open {
    background-color: var(--white);
    backdrop-filter: blur(20px);
    width: 50%;
    left: 0;
  }

  .mobile-nav {
    display: block;
    padding: 1rem;
    border: 1px solid var(--gray-deep);
    border-radius: 8px;
    position: relative;
    z-index: 100;
  }
  .mobile-nav i {
    font-size: 2.4rem;
    transition: all 0.3s linear;
  }
  .main-content-top {
    justify-content: flex-start;
    gap: 2rem;
    width: 100vw;
  }
  .bookmark {
    margin-left: auto;
  }
  .search {
    margin-left: 0;
  }

  /* CARDS */
  .main-content-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .form-modal form {
    width: 70%;
  }
}

@media (max-width: 35em) {
  .form-modal form {
    width: 90%;
  }
  .bookmark-btn button span {
    display: none;
  }
  .search {
    flex-basis: 90%;
  }

  .sidebar.open {
    width: 100%;
  }

  .bookmark-btn button {
    padding: 2rem 2rem;
  }

  /* CARDS */
  .main-content-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
